<header>
  <div>
    <a routerLink="/" class>Where in the world?</a>
    <button>
      <fa-icon [icon]="faMoon" class="moon"></fa-icon><span>Dark Mode</span>
    </button>
  </div>
  <nav>
    <div>
      <a
        routerLink="/countries"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Countries</a
      >
      <a routerLink="/countries/visited" routerLinkActive="active-link"
        >Countries Visited ({{ visitedCount }})</a
      >
      <a routerLink="/countries/wish-list" routerLinkActive="active-link"
        ><fa-icon [icon]="faHeart"></fa-icon> Wish List ({{ wishListCount }})</a
      >
    </div>
  </nav>
  <router-outlet></router-outlet>
</header>
