<header>
  <div>
    <a routerLink="/" class>Where in the world?</a>
    <button
      *ngIf="
        (themeService.currentTheme | async) === 'theme-light';
        else darkTemplate
      "
      (click)="themeService.changeTheme('theme-dark')"
    >
      <fa-icon [icon]="faMoon" class="moon"></fa-icon><span>Dark Mode</span>
    </button>
    <ng-template #darkTemplate>
      <button (click)="themeService.changeTheme('theme-light')">
        <fa-icon [icon]="faSun" class="sun"></fa-icon><span>Light Mode</span>
      </button>
    </ng-template>
  </div>
  <nav>
    <div>
      <a
        routerLink="/countries"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Countries</a
      >
      <a routerLink="/visited" routerLinkActive="active-link"
        >Visited ({{ (visitedStoreService.visits | async)!.length }})</a
      >
      <a routerLink="/wish-list" routerLinkActive="active-link"
        ><fa-icon [icon]="faHeart"></fa-icon> Wish List ({{
          (wishListStoreService.wishList | async)!.length
        }})</a
      >
    </div>
  </nav>
  <router-outlet></router-outlet>
</header>
