$grid-gap: 40rem;

.country-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 1fr;
  column-gap: $grid-gap;
  row-gap: $grid-gap;
  margin: 40rem;

  > a {
    background-color: grayscale($color: #f8f8f8);
    border: 1px solid lightgrey;
  }
}

// Radio toolbar is created with radio buttons and styled based on:
// https://stackoverflow.com/questions/4641752/css-how-to-style-a-selected-radio-buttons-label
.radio-toolbar {
  margin: $grid-gap 0 0 $grid-gap;

  input[type="radio"] {
    display: none;

    &:checked + label {
      background-color: #ddd;
    }
  }

  label {
    display: inline-block;
    position: relative;
    background-color: #fff;
    padding: 10rem;
    font-size: 14rem;
    cursor: pointer;

    span {
      position: absolute;
      right: 10rem;
    }
  }

  input,
  label {
    width: 150rem;
  }
}

.hide-option {
  display: none;
}
