<main>
  <!-- Cannot set padding on option tag: See
    https://stackoverflow.com/questions/4748875/how-can-i-control-the-height-of-an-option-element-in-webkit/4749864#4749864
  So simulate the same behaviour using radio buttons. Note if we have a multi-select dropdown then we can do the same with checkboxes-->
  <div class="radio-toolbar" #regionDropDown>
    <div>
      <input
        type="radio"
        name="region-dropdown"
        [id]="filterHeader"
        [value]="filterHeader"
        checked
        (click)="onDropDownRegion()"
        (change)="onChangeRegion($event)"
      />
      <label [for]="filterHeader">{{ filterHeader }} <span>▼</span></label>
    </div>
    <div *ngFor="let region of regions" hidden>
      <input
        type="radio"
        name="region-dropdown"
        [id]="region"
        [value]="region"
        (click)="onDropDownRegion()"
        (change)="onChangeRegion($event)"
      />
      <label [for]="region">{{ region }} <span hidden>▼</span></label>
    </div>
  </div>
  <div class="country-grid">
    <a routerLink="{{ country.name }}" *ngFor="let country of countries">
      <app-country *ngIf="country" [country]="country"></app-country>
    </a>
  </div>
</main>
