<main>
  <!-- Cannot set padding on option tag: See
    https://stackoverflow.com/questions/4748875/how-can-i-control-the-height-of-an-option-element-in-webkit/4749864#4749864
  So simulate the same behaviour using radio buttons. Note if we have a multi-select dropdown then we can do the same with checkboxes-->
  <div class="radio-toolbar">
    <div class="search">
      <div class="search-wrapper">
        <fa-icon [icon]="faSearch"></fa-icon>
        <input
          class="search-country"
          type="text"
          placeholder="Search for a country..."
          (keyup)="onSearchCountry(countrySearch.value)"
          #countrySearch
        />
      </div>

      <div (click)="toggleDropdown()">
        <input
          type="radio"
          [name]="selectedRegion"
          checked
          (change)="onChangeRegion(selectedRegion)"
          #selectedRegionEl
        />
        <label [for]="selectedRegion"
          >{{ selectedRegion }} <span>▼</span></label
        >
      </div>
    </div>

    <div class="regions" *ngFor="let region of regions">
      <ng-container *ngIf="toggleRegion(region)">
        <input
          type="radio"
          [name]="region"
          [id]="region"
          [value]="region"
          (change)="onChangeRegion(regionEl.value)"
          #regionEl
        />
        <label [for]="region">{{ region }} <span hidden>▼</span></label>
      </ng-container>
    </div>
  </div>
  <app-country-grid [countries]="countries"></app-country-grid>
</main>
